@using WebApp.Models
@using WebApp.Models.EquipData
@using WebApp.Settings;
@using WebApp.Models.DTO;

@model List<CabinetDTO>;

@{
    Layout = "_CabList";

    TranslateMetadata<IMetaData> meta = new();
    meta.Assign<CabinetDTO>();
}

@section CabTable {
    <table>
        <tr>
            @meta.TableName
        </tr>
        <tr>
            @{
                foreach (var header in meta.PropName)
                {
                    <th>@header.Value</th>
                }
                <th></th>
            }
        </tr>
        @{
            foreach(var cabinet in Model)
            {
                <tr>
                    @{
                        if (meta.GetValues(cabinet) is Dictionary<string, TableValueResult> values)
                        {
                            foreach (var value in values)
                            {
                                if (!value.Value.IsClass)
                                {
                                    <td>@value.Value.Reference</td>
                                }
                                else
                                {
                                    <td>
                                    @{
                                        if (meta.GetValues(value.Value.Reference, true) is Dictionary<string, TableValueResult> subValues)
                                        {
                                            foreach (var subValue in subValues)
                                            {
                                                <p>@subValue.Value.Reference</p>
                                            }
                                        }
                                    }
                                    </td>
                                }
                            }
                        }
                    }
                    <td>
                        <button onclick="window.location = '../cabinets/cabientId=@cabinet.Id'">Перейти</button>
                    </td>
                </tr>
            }   
        }      
    </table>
}