@    using WebApp.Models.DTO;
@    using System.Text.Json;
    using WebApp.Models.TableModels;

@model (CabinetDTO, List<EquipmentDTO>);

<div id="repair-request-container">
    <div id="repair-request-container-bg"></div>

    <div class="multiplie-objects-from">
    </div>

    <div id="repair-request-form">
        <div id="repair-request-form-header">
            <p id="repair-request-title">Заявка на ремонт оборудования</p>
            <button class="defaultButton" id="close-request-form">X</button>
        </div>
        
        <form id="form-container" method="post" action="send-request" enctype="multipart/form-data">
            <div class="single-container" id="cabinetcontainer">
                @{
                    if (Model.Item1 != null)
                    {
                        <label for="cabinet" class="single-element">
                            <label class="single-element-content">
                                <p>@Model.Item1.Num</p>
                            </label>
                            <button type="button" class="delete deleteButton">X</button>
                            <input type="hidden" id="cabinet" name="cabinet" value="@Model.Item1.Id" hidden>
                        </label>
                    }
                    else
                    {
                        <label for="cabinet" class="single-element"> 
                            <button type="button" class="add defaultButton">Добавить кабинет</button>
                            <input type="number" id="cabinet" name="cabinet" required hidden>
                        </label>
                    }
                }
            </div>
            <div class="multiplie-container" id="equipmentscontainer">
                @{
                    if (Model.Item1 != null)
                    {
                        if (Model.Item2 is List<EquipmentDTO> equipments)
                        {
                            foreach (var equip in equipments)
                            {
                                <label for="equipment" class="single-element">
                                    <label class="single-element-content">
                                        <p>@equip.Name</p>
                                    </label>
                                    <button type="button" class="delete deleteButton ">X</button>
                                    <input type="hidden" id="cabinet" name="equipment" value="1" hidden>
                                </label>
                            }
                        }
                        else
                        {
                            <label for="equipment" class="single-element">
                                <button type="button" class="add defaultButton">Добавить оборудование</button>
                                <input type="number" id="cabinet" name="equipment" required hidden>
                            </label>
                        }
                    }
                }
            </div>
            <div id="descriptioncontainer">
                <textarea id="description" name="description" placeholder="Описание" required></textarea>
            </div>
            <div class="drop-container" id="dropcontainer">
                <span class="drop-title">Поместите файлы сюда</span>
                или
                <input type="file" id="images" name="images" accept="image/*" multiple="multiple">
            </div>
            <div>
                <input type="submit" class="defaultButton">
            </div>
        </form>
    </div>

    

    <!--Шаблон формы без выбраного объекта-->
    <template id="non-selected-object-temp">
        <label class="single-element">
            <button type="button" class="add defaultButton"></button>
            <input type="number" required hidden>
        </label>
    </template>

    <!--Шаблон формы с выбраным объектом-->
    <template id="selected-object-temp">
        <label class="single-element">
            <label class="single-element-content">

            </label>
            <button type="button" class="delete deleteButton">X</button>
            <input type="hidden" value="1" hidden>
        </label>
    </template>
</div> 