@using WebApp.Models;

@{
    Layout = "_AuthAndReg";

}

@section AuthPageScripts {
    <link href="~/css/ElementsStyle.css" rel="stylesheet" type="text/css" />
    <script src="~/js/jquery-3.7.1.min.js" type="text/javascript"></script>
    <link href="~/css/LogAndReg.css" rel="stylesheet" type="text/css" />
    <script src="~/js/LogAndReg.js"></script>
    <link href="~/css/RightMenu.css" rel="stylesheet" type="text/css" />
    <script src="~/js/RightMenu.js" type="text/javascript"></script>
    <script src="~/js/signalr.js"></script>
    <script src="~/js/jquery.signalR.min.js"></script>
    @* <script src="~/js/NotAuth.js"></script> *@
}

@section LogAndRegForm 
{
    <div id="log-reg-form">
        <div id="log-reg-form-buttons">
            <button id="to-sign-in">Вход</button>
            <button id="to-sign-up">Регистрация</button>

            <div id="button-background"></div>
        </div>
        <div id="log-reg-content">
            <div id="log-reg-forms">
                <form id="login" method="post" action="/login">
                    <div>
                        @{
                            <p>Логин</p>
                            if (TempData["LoginError"] != null)
                            {
                                <input class="errorInput" type="text" name="Login" />
                            }
                            else
                            {
                                <input type="text" name="Login" />
                            }
                            <p>Пароль</p>
                            if (TempData["PasswordError"] != null)
                            {
                                <input class="errorInput" type="password" name="Password" />
                            }
                            else
                            {
                                <input type="password" name="Password" />
                            }

                            if (TempData["ErrorMessage"] != null)
                            {
                                <div id="error-login-message">
                                    <p>@TempData["ErrorMessage"]</p>
                                </div>
                            }
                        }
                    </div>

                    <input type="submit" value="Войти" />
                </form>
                <form id="reg" method="post" action="/registration">
                    <div>
                        <p>Имя*</p>
                        <input type="text" name="Name" />
                        <p>Фамилия*</p>
                        <input type="text" name="Surname" />
                        <p>Отчество</p>
                        <input type="text" name="Patronymic" />
                        <p>Дата рождения*</p>
                        <input type="date" name="Birthday" />
                        <p>Логин*</p>
                        <input type="text" name="Login" />
                        <p>Пароль*</p>
                        <input type="text" name="Password" />
                        <p>Повторите пароль*</p>
                        <input type="text" name="rpassword" />
                    </div>

                    <input type="submit" value="Зарегистрироваться" />
                </form>
            </div>
        </div>
    </div>

    @{
        //Отчистка ошибок
        if (TempData.Any(td => td.Key == "ErrorMessage"))
            TempData.Remove("ErrorMessage");

        if (TempData.Any(td => td.Key == "LoginError"))
            TempData.Remove("LoginError");

        if (TempData.Any(td => td.Key == "PasswordError"))
            TempData.Remove("PasswordError");
    }
}