@using WebApp.Models.DTO;
@using WebApp.Settings;
@using System.Security.Claims;

@model UserDTO;

@{
    Layout = "_Profile";

    var isAuth = (Context.User.Identity != null && Context.User.Identity.IsAuthenticated);

    int? userId = null;
    if (isAuth)
    {
        if (Context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid)?.Value is string userIdAsString)
            userId = int.Parse(userIdAsString);
    }

    bool isCurrentUser = (userId != null && userId == Model.Id) && isAuth;
}

@section ProfileContent{
    <div class="profile center-element-horizontal">
        <div id="profileHeader"></div>
        <div id="profileAvatar">
            <img id="profile_image" />
        </div>


        @{
            if(isCurrentUser)
            {
                <p>Is Current User</p>
            }
        }

        <div id="profileContent">
            <div class="profileUserNSP_PERM">
                <div id="profileUserNSP">
                    <p class="profileUserNSPText" id="profile_userSurname">@Model.Surname</p>
                    <p class="profileUserNSPText" id="profile_userName">@Model.Name</p>
                    <p class="profileUserNSPText" id="profile_userPatronymic">@Model.Patronymic</p>
                </div>

                <p class="profileUserNSPText_Prim" id="profile_userPrimission">@Model.PermissionName</p>
            </div>
        </div>
    </div>
}