#log-reg-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
    width: 450px;
    height: 600px;
    background-color: #f2f2f2;
    position: absolute;
    left: 50%;
    top: 15%;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 15px -4px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 0px 5px 15px -4px rgba(34, 60, 80, 0.4);
    box-shadow: 0px 5px 15px -4px rgba(34, 60, 80, 0.4);
}

.hidden-elem {
    visibility: hidden;
}

#log-reg-form-buttons {
    background-color: yellow;
    position: absolute;
    left: 25%;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    grid-row: 1;
    user-select: none;
}

    #log-reg-form-buttons > button {
        position: absolute;
        top: 20px;
        height: 35px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

#button-background {
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: -1;
    background-color: #5555FF;
    border-radius: 5px;
    width: 85px;
    height: 35px;
}

#to-sign-in {
    left: 5px;
}

#to-sign-up {
    left: 90px;
}

#log-reg-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row: 2;
    overflow: hidden;
}

    #log-reg-content::-webkit-scrollbar {
        display: none;
    }

#log-reg-forms {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 1;
    width: 900px;
}

form {
    display: grid;
    grid-template-rows: 1fr 75px;
    width: 250px;
    position: relative;
    left: 50%;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}

    form > input[type=submit] {
        grid-row: 2;
        color: white;
        background-color: #7777FF;
        border: none;
        border-radius: 5px;
        position: relative;
        top: 20px;
        height: 40px;
        cursor: pointer;
    }

        form > input[type=submit]:hover {
            background-color: #5555FF;
        }

    form > div > p {
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        font-size: 16pt;
        margin: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        user-select: none;
        text-align: center;
    }

    form > div > input[type=text] {
        height: 25px;
        width: 250px;
        border-radius: 5px;
        border: 0px;
    }

        form > div > input[type=text]:focus-within {
            outline: none;
            -webkit-box-shadow: 0px 5px 15px -4px rgba(34, 60, 80, 0.3);
            -moz-box-shadow: 0px 5px 15px -4px rgba(34, 60, 80, 0.3);
            box-shadow: 0px 5px 15px -4px rgba(34, 60, 80, 0.3);
        }

#login {
    margin-top: 20%;
}
