<div id="change-responsible-person-form-container">
    <div class="black-screen"></div>
    <div id="change-responsible-person-form">
        <div id="change-responsible-person-form-header">
            <button class="defaultButton" id="close-change-responsible-person-form"></button>
        </div>
        <select multiple id="change-responsible-person-form-selection">
            <option></option>
        </select>
        <div id="change-responsible-person-form-footer">
            <button class="defaultButton" id="confirm-change-responsible-person-form"></button>
        </div>
    </div>
</div>