@model IEnumerable<string>

@{
    int i = 0;

    foreach (var href in Model)
    {
        <div class="file-container" style="background-image: url('@href')">
            <button id="show-img-@i">⭳</button>
        </div>

        <script>
            $("#show-img-@i").on("click", () => {
                downloadFile('@href', '@i');
            });
        </script>

        i++;
    }
}