@using ModelLib.DTO;

@model IEnumerable<UserDTO>

@{
    Layout = "_UsersList";
}

@section UsersListScripts {
    <link href="~/css/Tools.css" rel="stylesheet" type="text/css" />
    <link href="~/css/UsersList.css" rel="stylesheet" type="text/css" />
    <script src="~/js/jquery-3.7.1.min.js" type="text/javascript"></script>
    <link href="~/css/RightMenu.css" rel="stylesheet" type="text/css" />
    <script src="~/js/RightMenu.js" type="text/javascript"></script>
    <script src="~/js/signalr.js"></script>
}

@section UsersTable 
{
    <p>
        Test
    </p>
}