@using WebApp.Settings;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти</title>
    @await RenderSectionAsync("AuthPageScripts")
</head>
<body>
    @*@await Html.PartialAsync("_RightMenuPartial", AppStatics.User)*@
    @{
        var userIsAuth = Context.User.Identity != null && Context.User.Identity.IsAuthenticated;

        if (userIsAuth)
        {
            //await Html.PartialAsync("_RightMenuPartial");
        }
    }
    @await RenderSectionAsync("LogAndRegForm")
</body>
</html>