@using WebApp.Settings;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кабинеты</title>

    @await RenderSectionAsync("CabInfoScripts")
</head>
<body>

    @* @await Html.PartialAsync("_RightMenuPartial", AppStatics.User) *@

    @await Html.PartialAsync("_RightMenuPartial")
    @await RenderSectionAsync("CabInfo")
</body>
</html>