@using WebApp.Settings;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>

    @await RenderSectionAsync("CabinetInfoScripts")
</head>
<body>
    @* @await Html.PartialAsync("_RightMenuPartial", AppStatics.User) *@
    @await Html.PartialAsync("_RightMenuPartial")

    <div class="center-element-horizontal">
        @await RenderSectionAsync("CabTable")
    </div>
</body>
</html>