@using WebApp.Settings;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кабинеты</title>

    <link href="~/css/Tools.css" rel="stylesheet" type="text/css" />
    <link href="~/css/CabInfo.css" rel="stylesheet" type="text/css" />
    <link href="~/css/ElementsStyle.css" rel="stylesheet" type="text/css"/>
    <script src="~/js/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script src="~/js/jQueryRotate.js" type="text/javascript"></script>
    <script src="~/js/CabInfo.js" type="text/javascript"></script>
    @* <script type="module" src="~/js/Files.js"></script> *@
    <link href="~/css/RightMenu.css" rel="stylesheet" type="text/css" />
    <script src="~/js/RightMenu.js" type="text/javascript"></script>
    <link href="~/css/RequestForm.css" rel="stylesheet" type="text/css" />
    <script src="~/js/RequestForm.js" type="text/javascript"></script>
</head>
<body>

    @* @await Html.PartialAsync("_RightMenuPartial", AppStatics.User) *@

    @await Html.PartialAsync("_RightMenuPartial")
    @await RenderSectionAsync("CabInfo")
</body>
</html>