@using WebApp.Models;
@using WebApp.Models.Default;

@model ErrorMessage;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="~/css/ErrorPage.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="errorContainer" class="center-element-horizontal center-element-vertical">
        <p id="errorCode">@Model.StatusCode</p>
        <p id="errorDesc">@Model.Message</p>
        <button onclick="window.location = '/'">На главную</button>
    </div>
</body>
</html>