@using WebApp.Settings;

<!DOCTYPE html>
<html lang="ru">
    <head>
        @await RenderSectionAsync("MainScripts")
    </head>
    <body>
        @RenderBody()
        @* @await Html.PartialAsync("_RightMenuPartial", AppStatics.User) *@     
        @await Html.PartialAsync("_RightMenuPartial")     
    </body>
</html>