@using WebApp.Settings;

<!DOCTYPE html>
<html lang="ru">
    <head>
        <script src="~/js/jquery-3.7.1.min.js" type="text/javascript"></script>
       <script src="~/js/RightMenu.js" type="text/javascript"></script>

       <link href="~/css/Main.css" rel="stylesheet" type="text/css" />
       <link href="~/css/RightMenu.css" rel="stylesheet" type="text/css" />
       <link href="~/css/Tools.css" rel="stylesheet" type="text/css" />
       <link href="~/css/ElementsStyle.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        @RenderBody()
        @* @await Html.PartialAsync("_RightMenuPartial", AppStatics.User) *@     
        @await Html.PartialAsync("_RightMenuPartial")     
    </body>
</html>