<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="../css/Profile.css" rel="stylesheet" type="text/css" />
    <link href="../css/Tools.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @await RenderSectionAsync("ProfileContent")
</body>
</html>