@using WebApp.Models.DTO;
@model dynamic;

<div id="other-form-container">
    <div id="other-form-container-bg"></div>
    <div id="select-object-form">
        <div id="select-object-header">
            <button id="close-select-form"></button>
        </div>
            @{
                //Если кабинет не выбран(выводится список кабинетов)
                if (Model is List<CabinetDTO> getCabinets)
                {
                    <select size="5">
                    @{
                        foreach (var cabinet in getCabinets)
                        {
                            <option value="@cabinet.Id">@cabinet.Num</option>
                        }
                    }
                    </select>
                }

                //Выбраное/невыбраное оборудование
                if (Model is List<EquipmentDTO> getEquipments)
                {
                    <select size="5" multiple>
                    @{
                        foreach (var equipment in getEquipments)
                        {
                            //нет id, нужно исправить
                            <option>@equipment.Name</option>
                        }
                    }  
                    </select>
                }
            }
    </div>
</div>