@using WebApp.Models.DTO;
@model dynamic;

<div id="other-form-container">
    <div id="other-form-container-bg"></div>
    <div id="select-object-form">
        <div id="select-object-header">
            <button id="close-select-form"></button>
        </div>
        <select size="5" multiple>
            @{
                //Если кабинет не выбран(выводится список кабинетов)
                if (Model is List<CabinetDTO> getCabinets)
                {
                    foreach (var cabinet in getCabinets)
                    {
                        
                    }
                }

                //Если выбран кабинет(выводится информация о нём)
                // if (Model is CabinetDTO getCabinet)
                // {

                // }

                //Выбраное/невыбраное оборудование
                if (Model is List<EquipmentDTO> getEquipments)
                {
                    foreach (var equipment in getEquipments)
                    {
                        <option>@equipment.Name</option>
                    }   
                }
            }
        </select>
    </div>
</div>