@using WebApp.Models.DTO;
@model dynamic;

<div id="other-form-container">
    <div id="other-form-container-bg"></div>
    <div id="select-object-form">
        <div id="select-object-header">
            <button id="close-select-form"></button>
        </div>
        <select size="5" multiple>
            @{
                // if (Model is CabinetDTO getCabinet)
                // {

                // }

                // if (Model is List<EquipmentDTO> getEquipment)
                // {
                //     foreach (var equip in getEquipment)
                //     {

                //     }   
                // }
            }
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
        </select>
    </div>
</div>