@using WebApp.Models.DTO;
@using WebApp.Models;
@using WebApp.Settings
@model dynamic;

@{
    TranslateMetadata<IMetaData> selectObjects = new();

    if (Model is List<CabinetDTO>)
    {
        selectObjects.Assign<CabinetDTO>();
    }

    if (Model is List<EquipmentDTO>)
    {
        selectObjects.Assign<EquipmentDTO>();
    }
}

<div id="other-form-container">
    <div id="other-form-container-bg"></div>
    <div id="select-object-form">
        <div id="select-object-header">
            <button id="close-select-form"></button>
        </div>
        @{
            if (selectObjects.Type == typeof(CabinetDTO))
            {
                <select id="select-object" size="5">
                    @{
                        foreach (var cabinet in Model)
                        {
                            var cabinetData = selectObjects.GetValues<CabinetDTO>(cabinet, withNotInclude: true);

                            var id = cabinetData["Id"];

                            <option value="@id">@cabinetData["Num"]</option>
                        }
                    }
                </select>
            }

            if (selectObjects.Type == typeof(EquipmentDTO))
            {
                <select id="select-object" size="5" multiple>
                    @{
                        foreach (var equipment in Model)
                        {
                            var equipmentData = selectObjects.GetValues<EquipmentDTO>(equipment, withNotInclude: true);

                            <option value="@equipmentData["Id"]">@equipmentData["Name"]</option>
                        }
                    }
                </select>
            }
        }
        <div id="select-object-btn-container">
            <button class="defaultButton" id="select-this-object" hidden>Добавить</button>
        </div>
    </div>
</div>