<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @await RenderSectionAsync("TestScripts")
</head>
<body>
    @RenderBody()
    <p>This is test page</p>
    <div>
        <p>Request</p>
        <button id="show-request-form-without-data">show empty request form</button>
        <button id="show-request-form-with-cabid">show request form with cab</button>
        <button id="show-request-form-with-cabid-and-equipments">show request form with cab and equipments</button>
    </div>
    <div>
        <p>Editor</p>
        <button onclick="openEditor(infoType.equipment, sendType.edit, 1)">equipment-click</button>
        <button onclick="openEditor(infoType.user,sendType.new, 1)">user-click</button>
        <button onclick="openEditor(infoType.cabinet,sendType.new, 1)">cabinet-click</button>
    </div>
    <div>
        <p>Code</p>
    </div>
    @{
        // while (true)
        // {
        //     await Task.Delay(1000);
        //     await Component.InvokeAsync("Timer");
        // }
    }
</body>
</html>