
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Tools.css" rel="stylesheet" type="text/css" />
    <link href="~/css/UsersList.css" rel="stylesheet" type="text/css" />
    <script src="~/js/jquery-3.7.1.min.js" type="text/javascript"></script>
    <link href="~/css/RightMenu.css" rel="stylesheet" type="text/css" />
    <script src="~/js/RightMenu.js" type="text/javascript"></script>
</head>
<body>
    @await Html.PartialAsync("_RightMenuPartial")
    <div class="center-element-horizontal">
        @await RenderSectionAsync("UsersTable")
    </div>
</body>
</html>