@using WebApp.Components;
@model int

<div id="show-image-list">
    <div class="black-screen"></div>
    <div id="image-list-form">
        <div id="image-list-meta">
            <p id="image-list-meta-name">
                Фотографии
            </p>
            <button id="image-list-close" class="defaultButton">
                X
            </button>
        </div>
        <div id="image-list">
            @await Component.InvokeAsync("ImageLoad", new 
            { 
                cabinetId = Model
            })
        </div>
    </div>
</div>