@using WebApp.Components;
@model List<string>

<div id="show-image-list">
    <div class="black-screen"></div>
    <div id="image-list-form">
        <div id="image-list-meta">
            <p id="image-list-meta-name">
                Фотографии
            </p>
            <button id="image-list-close" class="defaultButton">
                X
            </button>
        </div>
        <div id="image-list">
            @* @{
                foreach (var href in Model)
                {
                    // <img src="@href"/>
                    <div class="file-container" style="background-image: url(@href)">
                        <button>⭳</button>
                    </div>
                    
                }
            } *@
            @await Component.InvokeAsync("ImageLoad", new 
            { 
                cabinetId = 1
            })
        </div>

        @* <template id="file-template">
            <div class="file-container">
                <button>⭳</button>
            </div>
        </template> *@
    </div>
</div>