@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="cab-requests">
    <div class="request-categories open" id="category-1">
        <div class="request-categories-header">
            <span class="request-categories-header-sign">ᐱ</span>
        </div>
        <div class="cab-requests-container">
            <div class="request-categories-item">
            </div>
            <div class="request-categories-item">
            </div>
            <div class="request-categories-item">
            </div>
            <div class="request-categories-item">
            </div>
        </div>
    </div>
    <div class="request-categories open" id="category-2">
        <div class="request-categories-header">
            <span class="request-categories-header-sign">ᐱ</span>
        </div>
        <div class="cab-requests-container">
            <div class="request-categories-item">
            </div>
            <div class="request-categories-item">
            </div>
            <div class="request-categories-item">
            </div>
        </div>
    </div>
</div>